<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="loginForm">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>


        <ion-text color="danger" class="ion-margin-start"
          *ngIf="this.loginForm.get('email').invalid && this.loginForm.get('email').touched">
          <small>Preencha o email corretamente</small>
        </ion-text>


      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>


        <ion-text color="danger" class="ion-margin-start"
          *ngIf="this.loginForm.get('password').invalid && this.loginForm.get('password').touched">
          <small>O campo de senha deve ter no mínimo 6 caracteres</small>
        </ion-text>


      </ion-col>
    </ion-row>
    <ion-row justify-content-center class="ion-margin">
      <ion-button (click)="onSubmit()">
        {{textButton}}
        <ion-spinner name="circles" class="ion-margin-start" *ngIf="isLoading"></ion-spinner>
        <ion-icon name="checkmark-circle-outline" class="ion-margin-start" *ngIf="isSuccess"></ion-icon>
      </ion-button>
    </ion-row>
  </form>
</ion-content>